<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>631066627896-n9cno9155geg72ptdj35nbt21grbfca5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631066627896-n9cno9155geg72ptdj35nbt21grbfca5</string>
	<key>API_KEY</key>
	<string>AIzaSyBImbmQc1H_1DHX5kIT41pJk63_24-YGz4</string>
	<key>GCM_SENDER_ID</key>
	<string>631066627896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Blackmagk-Limited-Liability-Company.LootFox</string>
	<key>PROJECT_ID</key>
	<string>lootfox-dc845</string>
	<key>STORAGE_BUCKET</key>
	<string>lootfox-dc845.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631066627896:ios:1dd23ef6ce65597d</string>
	<key>DATABASE_URL</key>
	<string>https://lootfox-dc845.firebaseio.com</string>
</dict>
</plist>